# Don't add your keys to the repo my g
keys.json

# Also pycaches
__pycache__/

# Downloader
downloader/

# Ignore non-Apple images to start with
backend/imgs/google
backend/imgs/microsoft
backend/imgs/twitter
backend/imgs/apple
