html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start-section, .end-section {
  margin-bottom: 16px;
}

.section {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

input {
  width: 64px;
  padding: 4px;
}

.palette {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 11px;
  padding: 12px;
  border-radius: 8px;
  filter: drop-shadow(0px 0px 4px #0002);
  background-color: white;
  margin-bottom: 16px;
}

.color {
  width: 28px;
  height: 28px;
  border-radius: 30px;
  border: solid #0000 1px;
  cursor: pointer;
}

.color:hover {
  border-color: #0005;
}

.color.mint  { background-color: #defcf4; }
.color.peach { background-color: #f8dcd8; }
.color.purp  { background-color: #e9daf7; }
.color.lemon { background-color: #fef0d3; }
.color.blue  { background-color: #dff4f9; }
.color.pink  { background-color: #fddeed; }
.color.green { background-color: #dcf3df; }
.color.orang { background-color: #fee4d3; }
