html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
  width: 64px;
  padding: 4px;
}

.palette {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 11px;
  padding: 10px;
  border-radius: 4px;
  filter: drop-shadow(4px 4px 3px #0002);
  background-color: white;
  margin-bottom: 16px;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  border: solid #0005 1px;
}

.color.mint  { background-color: #defcf4; }
.color.peach { background-color: #f8dcd8; }
.color.purp  { background-color: #e9daf7; }
.color.lemon { background-color: #fef0d3; }
.color.blue  { background-color: #dff4f9; }
.color.pink  { background-color: #fddeed; }
.color.green { background-color: #dcf3df; }
.color.orang { background-color: #fee4d3; }
