<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Emoji Imager | About</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

  <!--  Essential META Tags -->
  <meta property="og:title" content="Emoji Imager | About page" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://emoji.pjpscriv.com/image?start=dcf3df&end=fef0d3&emoji=😜&vendor=apple">
  <meta property="og:url" content="https://emoji.pjpscriv.com/about">
  <meta name="twitter:card" content="summary_large_image">

  <!--  Non-Essential, But Recommended -->
  <meta property="og:description" content="A website for creating pretty pictures of emojis">
  <meta property="og:site_name" content="Emoji Imager">
  <meta name="twitter:image:alt" content="Picture of an winking-with-tongue-out emoji in front of a pretty gradient background">

</head>
<body>
  <h1>Emoji Gradient</h1>
  <p>
    On Facebook Messenger, iOS users can give their group chats pretty emoji 
    pictures. You can't do this on Android 😤. I wanted to be able to make my 
    chats pretty so I made this.
  </p>
  <p>
    This is a little website that generates pretty emoji pictures with gradient 
    backgrounds so you can download them, add them to all your chats, and be 
    the envy of all your friends.
  </p>
  
  <h3>Usage</h3>
  <p>For example:</p>
  <code><pre>https://emoji.pjpscriv.com/F3EFF5/5386E4/🐧</pre></code>
  <p>gives you this:</p>
  <img src="/image?start=F3EFF5&end=5386E4&emoji=🐧" alt="Cute little penguin pic">
  </p>
  
  <h3>Invalid Input</h3>
  <p>If the parameters are invalid a random emoji gradient will be generated, e.g.:</p>
  <code><pre>https://emoji.pjpscriv.com/not-a-color/also-not-a-color/not-emoji</pre></code>
  <p>will give you this:</p>
  <img src="/image?start=random&end=random&emoji=random" alt="Random emoji pic">
  </p>
  
  <h3>Credits</h3>
  <p>
    Built from <a href="https://medium.com/analytics-vidhya/build-a-python-flask-app-on-glitch-fc2c4367baaf">Kelly Lougheed</a>'s Python Flask Template
  </p>
  
  <a class="home-link" href="/">Home 👀</a>
  
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>
</html>