<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}">
</head>
<body>
  <h1>Emoji Imager</h1>
  <p>Use the options below to create an emoji image ✨</p>
  <div>
    <p class="start-section">
      <input type="color" id="start-color" name="start-color" value="#F3EFF5">
      <label for="start-color">Start Color</label>
    </p>
    <p class="end-section">
      <input type="color" id="end-color" name="end-color" value="#5386E4">
      <label for="end-color">End Color</label>
    </p>
    <p class="emoji-section">
      <input type="text" id="emoji" name="emoji" value="🐧">
      <label for="emoji">Emoji</label>
    </p>
  </div>
  <p class="image-result">
    <img src="/image?start=F3EFF5&end=5386E4&emoji=🐧">
  </p>
  <p><a href="/random/random/random">Click here</a> to see a random emoji.</p>
  <script src="{{ url_for('static', filename = 'js/index.js') }}"></script>
</body>
</html>