<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
  <h1>Emoji Imager</h1>
  <p>Use the options below to create an emoji image ✨</p>
  
  <div>
    <div class="start-section">
      <div class="palette start-palette">
        <div class="color mint"></div>
        <div class="color peach"></div>
        <div class="color purp"></div>
        <div class="color lemon"></div>
        <div class="color blue"></div>
        <div class="color pink"></div>
        <div class="color green"></div>
        <div class="color orang"></div>
      </div>
      <div class="input-section">
        <label for="start-color">Start Color</label>
        <input type="color" id="start-color" name="start-color" value="#F3EFF5">
      </div>
    </div>
    <div class="end-section">
      <div class="palette end-palette">
        <div class="color mint"></div>
        <div class="color peach"></div>
        <div class="color purp"></div>
        <div class="color lemon"></div>
        <div class="color blue"></div>
        <div class="color pink"></div>
        <div class="color green"></div>
        <div class="color orang"></div>
      </div>
      <div class="input-section">
        <label for="end-color">End Color</label>
        <input type="color" id="end-color" name="end-color" value="#5386E4">
      </div>
    </div>
    <div class="input-section emoji-section">
      <label for="emoji">Emoji</label>
      <input type="text" id="emoji" name="emoji" value="🐧">
    </div>
  </div>
  <p class="image-result">
    <img src="/image?start=F3EFF5&end=5386E4&emoji=🐧">
  </p>
    
  <p class="download-link">
    <a href="/image?start=F3EFF5&end=5386E4&emoji=🐧" download>Download <span class="material-symbols-outlined">download</span></a>
  </p>
  <p>
    <a href="/random/random/random">Click here</a> to see a random emoji.
  </p>
  
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="{{ url_for('static', filename = 'js/index.js') }}"></script>
</body>
</html>